@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: "Inter", system-ui, sans-serif;
	}
}

.navbar-fixed {
	@apply fixed bg-slate-100 bg-opacity-80 shadow-md backdrop-blur-lg;
}

.navlink-onscroll {
	@apply text-slate-300 group-hover:text-white lg:text-slate-600 lg:group-hover:text-slate-900;
}

.hamburger-onscroll {
	@apply my-2 block h-[3px] w-[32px] bg-slate-800;
}

.hamburger-line {
	@apply my-2 block h-[3px] w-[32px] bg-gradient-to-br from-slate-50 to-slate-100 sm:bg-slate-100;
}

.hamburger-active > span:nth-child(1) {
	@apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
	@apply scale-0;
}

.hamburger-active > span:nth-child(3) {
	@apply -rotate-45;
}

.hamburger-show {
	@apply translate-y-[18rem] transition duration-300 ease-in-out;
}

.dimmer {
	@apply after:absolute after:bottom-0 after:z-10 after:h-full after:w-full after:bg-trans after:content-[''];
}

@layer components {
	.border-link {
		@apply after:block after:h-1 after:w-0 after:bg-primary-red group-hover:after:w-full group-hover:after:transition-all group-hover:after:duration-500;
	}
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
